
html,
body{
	padding: 1em;
	background:#ecf0f1;
	font-family: Helvetica;	
	margin: 0 auto;
	text-align: center;
}

svg{
	margin-top: 1em;
	background: #ecf0f1;
	border-top: 1px solid #f1c40f;
	border-top: none;
	
}



h2, p, a{
	color: #333!important;

}

text, 
.tick text{
	fill:  #333!important;
}

button, p, 
text{
	font-size: 0.75em!important;
	font-family: Helvetica;	
}

#descending, 
#ascending,
#reset{
	background: #333;
	color: #ecf0f1!important;
	display: inline-block;
	padding: 0.5em;
	font-size: 0.75em!important;
	border: 1px solid  #333;
	
}

/* focus / active state for keyboard a11y */
.selected,
#descending:focus,
#descending:active,
#descending:hover,
#ascending:focus,
#ascending:active,
#ascending:hover,
#reset:focus,
#reset:active,
#reset:hover{
	background: #ecf0f1!important; 
	color: #333!important;
	border: 1px solid #333!important;
	outline: 0; /* remove unsightly outline.. */
	transition: all 0.25s;
	
}

#descending.selected,
#ascending.selected,
#reset.selected{
	color: #333!important;
}

.axis line {
    stroke: #ecf0f1;
    shape-rendering: crispEdges;
}

.axis path{
	fill: none;
    stroke: #ecf0f1;
    shape-rendering: crispEdges;
   
}
.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
.axisLabel{
	font-size: 10px;
}

#Sun,
.axis .tick:first-child{
	display: none!important;
}


@media only screen and (max-width : 400px){
	text{
		font-size: 0.75em !important;
	}	
}
